.sidebar{
  width:100px;
  float:left;
  margin:10px;
  padding:30px;
  background:black;
  color:white;
}
img{
  float:right;
  width:400px;
  margin:15px;
  border:3px solid black;
  padding:10px;

}
.top{
  text-align:center;
  font-size:5em;
  margin:15px;
  border:3px solid black;
}
.top2{
  text-align:center;
  font-size:4em;
  margin:15px;
  border: 3px solid black;
}
p{
  font-size:3em;
  margin:30px;
}
.bingo{
  float:left;
}
@media screen and (max-width:700px) and (max-height:900px){

  .sidebar{
    width:70px;
    float:left;
    margin:3px;
    padding:15px;
    background:black;
    color:white;
    font-size:.7em;
  }
  li{
    float:left;
    margin-left: -20px;

  }
  img{
    float:right;
    width:400px;
    margin:15px;
    border:3px solid black;
    padding:10px;

  }
  .top{
    text-align:center;
    font-size:5em;
    margin:15px;
    border:3px solid black;
  }
  .top2{
    text-align:center;
    font-size:4em;
    margin:15px;
    border: 3px solid black;
  }
  p{
    font-size:2em;
    margin:20px;
    text-align: center;
  }
  .bingo{
    float:left;
  }
}
