.sidebar{
  width:100px;
  float:left;
  margin:10px;
  padding:30px;
  background:black;
  color:white;
}
img{
  float:right;
  width:400px;
  margin:15px;
  border:3px solid black;

}
.top{
  text-align:center;
  font-size:5em;
  margin:15px;
  border:3px solid black;
}
.top2{
  text-align:center;
  font-size:4em;
  margin:15px;
  border: 3px solid black;
}
p{
  font-size:3em;
  margin:30px;
}
.bingo{
  float:left;
}
