.div {
  width: 380px;
  float: left;
  margin: 50px;
}

img {
  width: 380px;
  height: 300px;
}

h1 {
  color: yellow;
  text-align: center;
  font-size: 4em;
}


li{
  display: inline;
  font-size: 2.5em;
  padding: 50px;}

body {
  background: black;
}


}

h2 {
  text-align: center;
  font-size: 2.5em;
}

p {
  font-size: 1.5em;
}
.bar{
  background: blue;
}

a {
  color:white;
  text-decoration: none;

}
#first{
  background: red;
  border:3px double black;
}
#second{
  background: blue;
  border:3px double black;
}
#third{
  background: green;
  border:3px double black;
}
