.ed{
  font-style:italic;
  font-family:sans-serif;
    margin:90px;
}
.edp{
  font-size:4em;
  margin:30px;

}
.we{
  font-style:italic;
  font-family:cursive;
  margin:90px;
}
.wep{
  font-stretch: expanded;
  margin:30px;
  font-size:4em;
}
.skills{
  font-style:italic;
  font-variant-east-asian: normal;
  font-stretch: semi-condensed;
    margin:90px;
}
.sp{
  text-overflow: ellipsis;
  font-kerning:auto;
  font-variant: small-caps;
  font-family: fantasy;
  margin:30px;
  font-size:4em;
}
body{
  background-color:#DAA520;
}
